body{
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;

}

input{
    height: 35px;
    width: 73px;
    font-size: large;
    text-align: center;
}

button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: grey;
}




